= render :haml, :indexjs
.center
  = render :haml, :header
  %h2 Enter your course and year of entry
  .form
    %form{ :action => "/install", :method => "post" }
      %select#course{ :name => "course"}
        - @courses.each do |key, name|
          %option{ :value => key }
            = name
      %select#yoe{ :name => "yoe"}
        - @course_years["comp"].each do |year|
          %option{ :value => year }
            #{ordinal(year)} year (#{year_to_yoe(year)} entry)
      %input#formsubmit{ :type => "submit", :name => "submit", :value => "Submit" }
      %fieldset#modules.hidden
        %legend "Now only tick the modules you're taking this year"
= render :haml, :footer